body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f1f3f6;
}

/* Sidebar */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #111;
    color: white;
    position: fixed;
    padding-top: 20px;
}

.sidebar a {
    display: block;
    color: white;
    padding: 12px;
    text-decoration: none;
}

.sidebar a:hover {
    background: #333;
}

/* Main */
.main {
    margin-left: 220px;
    padding: 20px;
}

/* Cards */
.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

/* Buttons */
.btn {
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-delete {
    background: red;
    color: white;
}

.btn-edit {
    background: blue;
    color: white;
}
input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}